<%- include('../views/product/partials/header.ejs') %>
<h2>Products</h2>
<div class="grid">
    <% products.forEach(p => { %>
      <div class="card">
        <img src="<%= p.image_url || 'https://picsum.photos/seed/p'+p.id+'/400/300' %>" alt="">
        <div style="padding:12px">
            <h3><%= p.name %></h3>
            <p>$<%= fmt(p.price_cents) %> . Stock: <%= p.stock %></p>
            <form method="post" action="/cart/add/<%= p.id %>">
                <input type="number" name="qty" min="1" max="<%= p.stock %>" value="1"
                 style="width:80px">
                <button class="btn" type="submit">Add to cart</button>
            </form>
        </div>    
      </div>
    <% }) %>
</div>
<%- include('../views/product/partials/footer.ejs') %>

