<h1><%= product.name %></h1>
<p>Price: <%= product.price %></p>
<p>Description <%= product.description %></p>
<img src="<%= product.imageUrl %>" alt="">
<a href="/admin/products/<%= product.id %>/edit">Edit</a>
<a href="/admin/products">Back</a>